#block1{
    height: 250%;
    width: 25vw;
    background-color: rgb(19, 19, 19);
    overflow: hidden;
    display: inline-block;
    z-index: -2;
}

#block1 img{
    width: 20vw;
    margin-left: 2.5vw;
    margin-top: 5vw;
    border-radius: 50%;
}

#block1 h2{
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 100;
    font-size: 2.5vw;
}

#block1 p{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1.3vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

#block2{
    top: 5vw;
    left: 35vw;
    position: absolute;
    display: inline-block;
    width: 60vw;
    z-index: -2;
}

#block2 h1{
    width: 100%;
    text-align: center;
    font-size: 6vw;
}

#block2 h2{
    width: 100%;
    text-align: center;
    font-size: 3vw;
}

#block2 h3{
    font-size: 2vw;
    text-align: center;
}

#block2 p{
    font-size: 1.5vw;
    text-align: center;
}

#block2 #unih3{
    font-size: 2vw;
    width: 85%;
    display: inline-block;
    vertical-align: middle;
}

#block2 #uni{
    width: 6%;
    display: inline-block;
    vertical-align: middle;
}

h2:before,
h2:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 30%;
}
h2:before {
    right: 0.5em;
    margin-left: -50%;
}
h2:after {
    left: 0.5em;
    margin-right: -50%;
}