.wittgenstein {
    font-family: "Wittgenstein", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.container {
    display: grid;
    padding-top: 12vw;
    padding-left: 7vw;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 60vw 60vw 60vw;
    gap: 6vw;
    padding-bottom: 6vw;
}

.item{
    background-color: rgb(255, 255, 255);
    border: 1px black dashed;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.item h1{
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 3vw;
    margin: 0%;
    font-family: "Wittgenstein", serif;
}

.item img{
    width: 25vw;
    padding-left: 7.5vw;
    padding-top: 3vw;
}

.item p{
    text-align: justify;
    bottom: 0px;
    width: 80%;
    padding-left: 10%;
    font-size: 2vw;
    padding-top: 1.5vw;
    font-family: "Wittgenstein", serif;
}

.wrap{
    text-decoration: none;
    color: black;
    cursor: pointer;
}