h1
{
	font-family:Trebuchet MS;
	color: #ffffff ;
	z-index: 9999;
	position: absolute;
	margin-left:10vw;
	margin-right:8vw;
	font-size: 3vw;
	margin-top: 30%;
	margin-bottom:30%;
	user-select: none;
}

h2{
	font-family:Trebuchet MS;
	color: #000000 ;
	user-select: none;
	margin-left:2vw;
	font-size: 10vw;
	
}

h3{
	font-family:Trebuchet MS;
	color: #000000 ;
	user-select: none;
	margin-top:10vw;
	margin-left: 40vw;
	font-size: 5vw;
	
}
h4{
	font-family:Trebuchet MS;
	color: #ffffff ;
	margin-left:10vw;
	margin-right:8vw;
	padding-top:5vw;
	font-size: 2vw;
}
p{
	font-family:Courier New;
	color: #ffffff ;
	margin-left:0vw;
	padding-top:1vw;
	font-size: 1.2vw;
}

body{
	margin:0;	
	background-color: #ffffff ;
}

#Section-2{
	height: 60vw;
	
}

#Section-3{
	height: 60vw;
	background-color: #000000 ;
}

#EW{
	font-family:Trebuchet MS;
	color: #ffffff ;
	z-index: 9999;
	margin-left: 45%;
	font-size: 3vw;
	margin-top: 20%;
	user-select: none;
	width:10%;
}

/* ---- Navigation Bar ---- */
.topnav {
  overflow: hidden;
  font-family: Trebuchet MS;
  z-index: 9999;
  position: absolute;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.6vw;
  user-select: none;
}

.topnav a:hover {
  transition: .6s;
  background-color: #ffffff;
  color:#000000;
  cursor: pointer;
}

.topnav a.right {
  float: right;
}
 
/* ---- particles.js container ---- */
#particles-js{
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-size: cover;
  background-position: 50% 50%;
}
/* ---- Title Blink ---- */

.typed-out{
  overflow: hidden;
  border-right: .3vw solid white;
  white-space: nowrap;
  animation: typing 1s steps(30, end) forwards, blinking 1s infinite;
  font-size:6vw;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 80vw; }
}
@keyframes blinking {
  from { border-color: transparent }
  to { border-color: white; }
}

/* ---- On scroll reveal ---- */

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.orange{
	color:#db8644;
}

.blue{
	color:#372fa3;
}

.purple{
	color:#812abf;
}

.green{
	color:#812abf;
}

/* ---- Creativity Shine ---- */

.Creativity {
	font-family:Trebuchet MS;
	color: #000000 ;
	user-select: none;
	margin-left:2vw;
    font-weight: 800;
    letter-spacing: -2px;
    animation: flow 5s ease-in-out infinite;
    background: linear-gradient(-60deg, #0000FF, #FF0000);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes flow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 10%;
    }
}
/* ---- Move Monkey ---- */


.Monkey {
	margin-left:60vw;
	width: 20vw;
	height:25vw;
	border-radius: 10vw;
	position:absolute;
}


.Monkey:hover
{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}
