#FakeTerminal {
    margin: 0 auto; 
    border-radius: 10px;
    max-width: 800px;
    width: 90%;
    background-color: #111;
    border-radius: 10px;
    height: 85vh
}

#TerminalTitleBar {
    background-color: #222;
    height: 26px;
    border-radius: 10px 10px 0 0;
}

.mac-dots { 
    display: inline-flex; 
    float: left;
    gap: 8px; 
    padding: 8px;
} 

.dot { 
    width: 12px; 
    height: 12px; 
    border-radius: 50%; 
    display: inline-block; 
}

.dot:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

#TerminalTitle {
    font-family: "SF Mono", "Menlo", "Consolas", monospace;
    color: #888;
    font-size: 14px;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    padding: 4px;
}

.spacer { 
    width: 60px;
}

#TerminalBody p{
    font-family: "SF Mono", "Menlo", "Consolas", monospace;
    color: #0f0;
    font-size: 14px;
    text-align: left;
    cursor: text;
    padding: 5px;
    margin: 0px;
}

#TerminalInput { 
    caret-color: transparent; 
}

.cursor {
  outline: none;
  display: inline-block;
}

.cursor::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 1em;
  background: white;
  margin-left: 2px;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

